@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body, div.chart-container {
    font-family: "IBM Plex Sans", sans-serif;
    @apply text-gray-700;
}

.font-manrope {
    font-family: "Manrope";
}

.content {
    font-size: 18px;
}

@media (min-width: 600px) {
    .content {
        font-size: 20px;
    }
}

.underline-links a {
    text-decoration: underline;
}

.up-spinner {
    position: absolute;
    top: calc(50% - 0.5rem);
    left: calc(50% - 0.5rem);
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 0.2rem solid rgba(255,255,255,0.3);
    border-top-color: white;
    animation: up-spin 1s linear infinite;
}

.up-spinner.dark {
    border-color: rgba(0,0,0,0.3);
    border-top-color: black;
}

@keyframes up-spin {
    0% { transform: rotate(0deg); }
    100% {transform: rotate(360deg); }
}

/* replicate Slate styling for inline code */
.prose p code {
    font-size: 85%;
    background-color: rgba(135,131,120,0.15);
    border-radius: 3px;
    padding: 0.2em 0.4em;
}

.slate-read-only-container p, .slate-read-only-container code, .slate-read-only-container pre, .slate-read-only-container blockquote {
    white-space: pre-wrap;
}